<style>
  .hexo-douban-clearfix {
    clear: both;
  }

  #tabs {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  #tabs a {
    padding: 5px;
  }

  #tabs a.hexo-douban-active {
    background: #657b83;
    color: #fff;
  }

  #collections .hexo-douban-book {
    /*width: 100%;*/
    /*float: left;*/
    padding-bottom: 10px;
    position: relative;
    clear: both;
    min-height: 170px;
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
  }

  .hexo-douban-book .hexo-douban-picture {
    position: absolute;
    left: 0;
    top: 10px;
  }

  .hexo-douban-book .hexo-douban-info {
    padding-left: 120px;
  }

  .hexo-douban-book .hexo-douban-meta {
    font-size: 12px;
    padding-right: 10px;
  }

  .hexo-douban-book .hexo-douban-comments {
    font-size: 12px;
  }

  .hexo-douban-hide {
    display: none;
  }

  #collections .hexo-douban-active {
    display: block;
  }

  @media screen and (max-width:600px) {
    #collections .hexo-douban-book {
      width: 100%;
    }
  }

  #refresh {

    color: red;
  }
</style>

<!--<header class="post-header">
  <h1 class="post-title" itemprop="name headline">
    <%- title %>
  </h1>
</header>-->

<div>
  <p>
    <%- quote %>
  </p>
</div>

<div>
  <p>这里，是我的书房。</p>
</div>

<div>
  <p>我是始终相信，那些阅读过感受过的东西，是会成为灵魂的底色的。相比这个阶段的村上，加缪和毛姆；黑塞，纪德，卡夫卡和陀思妥耶夫斯基，会是我下一阶段的重点阅读对象呢。</p>
</div>

<div>
  <p>我决定，让我的忧伤举着一束玫瑰。</p>
</div>

<div>
  <p>我喜欢这种风度。</p>
</div>

<h2 id="文摘">文摘</h2>
<ul>
  <li>『
    <a href="http://chocoluffy.com/2018/01/22/%E3%80%8A%E9%A3%8E%E6%B2%99%E6%98%9F%E8%BE%B0-%E5%A4%9C%E9%97%B4%E9%A3%9E%E8%A1%8C%E3%80%8B%E6%96%87%E6%91%98/">勋章-《风沙星辰 & 夜间飞行》文摘</a>』 《夜间飞行》不如《风沙星辰》惊艳，但依旧较完整地呈现了“自由”与“责任”的矛盾。“这些也许哪一天会失去生命的人，他们本可以幸福地生活着。”，和加缪的《鼠疫》对比阅读。</li>
  <li>『
    <a href="http://chocoluffy.com/2017/03/20/%E4%BD%86%E6%98%AF%E4%BD%A0%E8%AE%B0%E5%BE%97-%E3%80%8A%E6%8A%8A%E4%BD%A0%E4%BA%A4%E7%BB%99%E6%97%B6%E9%97%B4%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">但是你记得-《把你交给时间》读后感</a>』 “那些微小的瞬间， 一点都不重要， 但是你记得。”</li>
  <li>『
    <a href="http://chocoluffy.com/2016/05/13/%E5%8F%A6%E4%B8%80%E7%A7%8D%E9%BC%93%E5%A3%B0-%E8%AF%BB%E3%80%8A%E9%80%94%E5%AE%A2%E5%9C%88%E3%80%8B%E6%9C%89%E6%84%9F/">另一种鼓声-《途客圈》文摘</a>』 “如果你清醒地知道你要去哪儿，脑海中还保留着那份憧憬，那么你就能逢山开路，遇水搭桥，所有的阻碍都将成为一个个里程碑，被踩在你的身后……”</li>
  <li>『
    <a href="http://chocoluffy.com/2016/04/25/%E5%85%B3%E4%BA%8E%E5%88%9B%E4%B8%9A%EF%BC%8C-%E9%82%A3%E4%BA%9B%E4%B8%8D%E8%83%BD%E8%AF%B4%E7%9A%84%E7%A7%98%E5%AF%86/">关于创业, 那些不能说的秘密-《The Hard Thing About Hard Things》文摘</a>』 每个人， 在每个阶段， 都会有个不容分说的理由。</li> 
  <li>『
    <a href="http://chocoluffy.com/2016/05/07/%E4%B8%80%E6%B4%BE%E8%83%A1%E8%A8%80-%E7%AC%AC%E4%B8%89%E6%9C%9F-%E6%B0%91%E4%B8%BB%E7%9A%84%E4%B8%8D%E6%BB%A1/">一派胡言[第三期]-《民主的不满》</a>』 我不清楚我的选择会是什么， 但这并不是我拒绝去看这个问题的理由， 或许在相信他们针锋相对的背后， 就是我的立场。</li>
  <li>『
    <a href="http://chocoluffy.com/2015/03/26/%E5%85%89%E8%8D%A3%E4%B8%8E%E6%A2%A6%E6%83%B3%EF%BC%8D%E5%AF%84%E9%99%88%E8%99%BB/">光荣与梦想－《不要因为走得太远而忘记为什么出发》</a>』 寄陈虻。创造是一个很浪漫的事情， 但大多数人忘记了下一句， 创造也是很具体的事情， 一个团队不仅仅要灵异奔放，还要勤勉老实。</li>
</ul>


<h2 id="书柜">书柜</h2>

<div id="douban">
  <div id="tabs">
    <a id="reading-tab" href="javascript:show('reading')" target="_blank" rel="external">在读(
      <%= reading.length %>)</a>
    <a id="wish-tab" href="javascript:show('wish')" target="_blank" rel="external">想读(
      <%= wish.length %>)</a>
    <a id="read-tab" href="javascript:show('read')" target="_blank" rel="external">已读(
      <%= read.length %>)</a>
  </div>

  <div id="collections">
    <div id="reading" class="hexo-douban-hide">
      <% reading.forEach(function(item){%>
        <% include bookWish.ejs %>
          <% }) %>
    </div>
    <div class="hexo-douban-clearfix"></div>
    <div id="wish" class="hexo-douban-hide">
      <% wish.forEach(function(item){%>
        <% include bookWish.ejs %>
          <% }) %>
    </div>
    <div class="hexo-douban-clearfix"></div>
    <div id="read" class="hexo-douban-hide">
      <% read.forEach(function(item){%>
        <% include bookRead.ejs %>
          <% }) %>
    </div>
    <div class="hexo-douban-clearfix"></div>
  </div>
</div>

<script>
  function show(id) {
    document.getElementById('reading').classList.remove('hexo-douban-active');
    document.getElementById('read').classList.remove('hexo-douban-active');
    document.getElementById('wish').classList.remove('hexo-douban-active');
    document.getElementById('reading').classList.add('hexo-douban-hide');
    document.getElementById('read').classList.add('hexo-douban-hide');
    document.getElementById('wish').classList.add('hexo-douban-hide');

    var ele = document.getElementById(id);
    ele.classList.remove('hexo-douban-hide');
    ele.classList.add('hexo-douban-active');

    document.getElementById('reading-tab').classList.remove('hexo-douban-active');
    document.getElementById('read-tab').classList.remove('hexo-douban-active');
    document.getElementById('wish-tab').classList.remove('hexo-douban-active');
    document.getElementById(id + '-tab').classList.add('hexo-douban-active');
  };
  show("reading")
</script>