<div>
<p>
    <%- quote %>
</p>
</div>

<div>
<p>这里，是我的书房。</p>
</div>

<div>
<p>我是始终相信，那些阅读过感受过的东西，是会成为灵魂的底色的。相比这个阶段的村上，加缪和毛姆；黑塞，纪德，卡夫卡和陀思妥耶夫斯基，会是我下一阶段的重点阅读对象呢。</p>
</div>

<div>
<p>我决定，让我的忧伤举着一束玫瑰。</p>
</div>

<div>
<p>我喜欢这种风度。</p>
</div>

<h2 id="文摘">文摘</h2>
<ul>
<li>『
    <a href="http://chocoluffy.com/2018/04/15/%E7%A7%91%E6%8A%80%E7%9A%84%E7%9B%B2%E7%82%B9-%E3%80%8A%E7%AB%A5%E5%B9%B4%E7%9A%84%E6%B6%88%E9%80%9D%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">科技的盲点 -《童年的消逝》读后感</a>』&『<a href="http://chocoluffy.com/2018/04/15/%E3%80%8A%E7%AB%A5%E5%B9%B4%E7%9A%84%E6%B6%88%E9%80%9D%E3%80%8B%E6%96%87%E6%91%98/">文摘</a> 』童年是一个被精心呵护着的秘密，童年也是用于区分信息阶级的社会概念。</li>
<li>『
    <a href="http://chocoluffy.com/2018/03/16/%E6%97%A0%E6%B3%95%E4%BC%B0%E9%87%8F%E7%9A%84%E7%B9%81%E7%9B%9B-%E3%80%8A%E5%8D%8E%E6%B0%8F451%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">无法估量的繁盛 -《华氏451》读后感</a>』&『<a href="http://chocoluffy.com/2018/03/16/%E3%80%8A%E5%8D%8E%E6%B0%8F451%E3%80%8B%E6%96%87%E6%91%98/">文摘</a> 』希望是，就像当我终于赤脚走在冰冷的通往光明的铁轨上，我突然那么的相信，你也走过一样的路。</li>
<li>『
    <a href="http://chocoluffy.com/2018/01/22/%E3%80%8A%E9%A3%8E%E6%B2%99%E6%98%9F%E8%BE%B0-%E5%A4%9C%E9%97%B4%E9%A3%9E%E8%A1%8C%E3%80%8B%E6%96%87%E6%91%98/">勋章 -《风沙星辰 & 夜间飞行》文摘</a>』 《夜间飞行》不如《风沙星辰》惊艳，但依旧较完整地呈现了“自由”与“责任”的矛盾。“这些也许哪一天会失去生命的人，他们本可以幸福地生活着。”，和加缪的《鼠疫》对比阅读。</li>
<li>『
    <a href="http://chocoluffy.com/2017/03/20/%E4%BD%86%E6%98%AF%E4%BD%A0%E8%AE%B0%E5%BE%97-%E3%80%8A%E6%8A%8A%E4%BD%A0%E4%BA%A4%E7%BB%99%E6%97%B6%E9%97%B4%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">但是你记得-《把你交给时间》读后感</a>』 “那些微小的瞬间， 一点都不重要， 但是你记得。”</li>
<li>『
    <a href="http://chocoluffy.com/2016/05/13/%E5%8F%A6%E4%B8%80%E7%A7%8D%E9%BC%93%E5%A3%B0-%E8%AF%BB%E3%80%8A%E9%80%94%E5%AE%A2%E5%9C%88%E3%80%8B%E6%9C%89%E6%84%9F/">另一种鼓声 -《途客圈》文摘</a>』 “如果你清醒地知道你要去哪儿，脑海中还保留着那份憧憬，那么你就能逢山开路，遇水搭桥，所有的阻碍都将成为一个个里程碑，被踩在你的身后……”</li>
<li>『
    <a href="http://chocoluffy.com/2016/04/25/%E5%85%B3%E4%BA%8E%E5%88%9B%E4%B8%9A%EF%BC%8C-%E9%82%A3%E4%BA%9B%E4%B8%8D%E8%83%BD%E8%AF%B4%E7%9A%84%E7%A7%98%E5%AF%86/">关于创业, 那些不能说的秘密 -《The Hard Thing About Hard Things》文摘</a>』 每个人， 在每个阶段， 都会有个不容分说的理由。</li> 
<li>『
    <a href="http://chocoluffy.com/2016/05/07/%E4%B8%80%E6%B4%BE%E8%83%A1%E8%A8%80-%E7%AC%AC%E4%B8%89%E6%9C%9F-%E6%B0%91%E4%B8%BB%E7%9A%84%E4%B8%8D%E6%BB%A1/">一派胡言[第三期] -《民主的不满》</a>』 我不清楚我的选择会是什么， 但这并不是我拒绝去看这个问题的理由， 或许在相信他们针锋相对的背后， 就是我的立场。</li>
<li>『
    <a href="http://chocoluffy.com/2015/03/26/%E5%85%89%E8%8D%A3%E4%B8%8E%E6%A2%A6%E6%83%B3%EF%BC%8D%E5%AF%84%E9%99%88%E8%99%BB/">光荣与梦想－《不要因为走得太远而忘记为什么出发》</a>』 寄陈虻。创造是一个很浪漫的事情， 但大多数人忘记了下一句， 创造也是很具体的事情， 一个团队不仅仅要灵异奔放，还要勤勉老实。</li>
</ul>
  
  
<h2 id="书柜">书柜</h2>
  

<style>
    <% include index.css %>
</style>

<div class="hexo-douban-tabs">
    <a class="hexo-douban-tab" id="hexo-douban-tab1" href="javascript:;"
       rel="external">
        <%= __('bookReading') %>
        (<%= reading.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab2" href="javascript:;"
       rel="external">
        <%= __('bookWish') %>
        (<%= wish.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab3" href="javascript:;"
       rel="external">
        <%= __('bookRead') %>
        (<%= read.length %>)</a>
</div>
<div>
    <div id="hexo-douban-item1">
        <% reading.forEach(function(item){ %>
        <% include bookReading.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="hexo-douban-item2">
        <% wish.forEach(function(item){ %>
        <% include bookWish.ejs %>
        <% }); %>
        <% include pagination.ejs %>

    </div>
    <div id="hexo-douban-item3">
        <% read.forEach(function(item){ %>
        <% include bookRead.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>

</div>

<script>
    <% include index.js %>
    <% include pagination.js %>
</script>

