<div>
    <p>
        <%- quote %>
    </p>
    </div>
    
    <div>
    <p>这里，是我的书房。</p>
    </div>
    
    <h2 id="精选">年度精选</h2>
    <ul>
    <li>2019: 《不朽》昆德拉，《堂吉柯德》塞万提斯</li>
    <li>2018: 《不能承受的生命之轻》昆德拉，《德米安》黑塞，《华氏451》雷布拉德伯里</li>
    <li>2017: 《鼠疫》、《加缪手记》加缪，《刀锋》毛姆</li>
    <li>2016: 《把你交给时间》陶立夏，《途客圈创业记》陈天</li>
    <li>2015: 《哈耶克文选》哈耶克</li>
    <li>2014: 《黑客与画家》Paul Graham</li>
    <li>2013: 《看见》柴静</li>
    </ul>
    
    <h2 id="文摘">读后感 & 文摘</h2>
    <ul>
    <li>『
            <a href="https://chocoluffy.com/2019/03/30/%E6%8A%80%E6%9C%AF%E7%9A%84%E5%81%8F%E8%A7%81-%E3%80%8A%E6%8A%80%E6%9C%AF%E5%9E%84%E6%96%AD%E3%80%8B%E9%98%85%E8%AF%BB%E6%89%B9%E6%B3%A8/">技术的偏见 -《技术垄断》阅读批注</a>』工具带有偏见，也以偏见塑造着使用者。</li>
    <li>『
            <a href="https://chocoluffy.com/2019/02/28/%E4%B8%8D%E4%BE%9D%E8%B5%96%E7%90%86%E6%80%A7%E8%80%8C%E8%8E%B7%E5%BE%97%E5%B8%8C%E6%9C%9B-%E3%80%8A%E8%87%B4%E5%91%BD%E7%9A%84%E8%87%AA%E8%B4%9F%E3%80%8B%E9%98%85%E8%AF%BB%E6%89%B9%E6%B3%A8/">不依赖理性而获得希望 -《致命的自负》阅读批注</a>』理解哈耶克思想的关键在于理解这个隐喻：园丁看护花草。 </li>
    <li>『
            <a href="http://chocoluffy.com/2019/01/20/%E4%BB%B7%E6%A0%BC%E6%97%A0%E6%B3%95%E8%B0%83%E8%8A%82%E7%9A%84%E5%B8%82%E5%9C%BA-%E3%80%8A%E5%85%B1%E4%BA%AB%E7%BB%8F%E6%B5%8E%E3%80%8B%E9%98%85%E8%AF%BB%E6%89%B9%E6%B3%A8/">价格无法调节的市场 -《共享经济》阅读批注</a>』2012年诺奖得主埃尔文.罗斯的主导思想：配对市场。</li>
    <li>『
            <a href="http://chocoluffy.com/2019/01/04/%E9%9D%9E%E4%B8%BB%E6%B5%81%E7%9A%84%E4%B8%BB%E6%B5%81-%E3%80%8A%E8%AE%A2%E9%98%85%E3%80%8B%E9%98%85%E8%AF%BB%E6%89%B9%E6%B3%A8/">非主流的主流 -《订阅》阅读批注</a>』YouTube首席商务官对其商业模式的梳理。</li>
    <li>『
            <a href="http://chocoluffy.com/2019/01/02/%E6%B0%B8%E8%BF%9C%E5%AD%98%E5%9C%A8%E7%9A%84%E9%95%9C%E5%A4%B4-%E3%80%8A%E4%B8%8D%E6%9C%BD%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">永远存在的镜头 -《不朽》阅读批注</a>』眼泪，经常因为看到了自己而激发出来。</li>
    <li>『
            <a href="http://chocoluffy.com/2018/12/18/%E8%B0%88%E8%B0%88%E5%93%88%E4%BC%AF%E6%A0%BC%E7%A8%8E%E4%B8%8E%E6%BF%80%E8%BF%9B%E5%B8%82%E5%9C%BA/">哈伯格税：面向共享经济的创新？</a>』或许未来已经来了，只是还没扩散开。</li>
    <li>『
            <a href="http://chocoluffy.com/2018/12/12/%E3%80%8A%E5%A4%9C%E7%A9%BA%E6%80%BB%E6%9C%89%E6%9C%80%E5%A4%A7%E5%AF%86%E5%BA%A6%E7%9A%84%E8%93%9D%E8%89%B2%E3%80%8B%E9%98%85%E8%AF%BB%E6%89%B9%E6%B3%A8/">《夜空总有最大密度的蓝色》阅读批注</a>』或许正因为不理解，我才得以自由。</li>
    <li>『
            <a href="http://chocoluffy.com/2018/10/05/%E5%AF%B9%E6%9D%8E%E5%BC%80%E5%A4%8D%E6%96%B0%E4%B9%A6%E6%BC%94%E8%AE%B2%E3%80%8AAI%C2%B7%E6%9C%AA%E6%9D%A5%E3%80%8B%E7%9A%84%E4%B8%80%E7%82%B9%E6%80%9D%E8%80%83/">对李开复新书演讲《AI·未来》的一点思考</a>』交流的力量，甚至说陪伴的力量，在于被理解，而非仅仅存在。</li>
    <li>『
        <a href="http://chocoluffy.com/2018/06/29/%E3%80%8A%E5%8A%A0%E7%BC%AA%E6%89%8B%E8%AE%B0%E7%AC%AC%E4%BA%8C%E5%8D%B7%E3%80%8B%E9%98%85%E8%AF%BB%E6%89%B9%E6%B3%A8/">《加缪手记第二卷》阅读批注</a>』我只想静静地描述眼前的世界。这是我生命的美好，我的存在主义。</li>
    <li>『
        <a href="http://chocoluffy.com/2018/06/13/%E8%AF%A5%E9%9A%90%E7%9A%84%E5%8D%B0%E8%AE%B0-%E3%80%8A%E5%BE%B7%E7%B1%B3%E5%AE%89%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">该隐的印记 -《德米安》读后感</a>』我的故事味如痴语，就像所有那些不愿再自欺欺人的生活一样。 </li>
    <li>『
        <a href="http://chocoluffy.com/2018/04/15/%E7%A7%91%E6%8A%80%E7%9A%84%E7%9B%B2%E7%82%B9-%E3%80%8A%E7%AB%A5%E5%B9%B4%E7%9A%84%E6%B6%88%E9%80%9D%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">科技的盲点 -《童年的消逝》读后感</a>』&『<a href="http://chocoluffy.com/2018/04/15/%E3%80%8A%E7%AB%A5%E5%B9%B4%E7%9A%84%E6%B6%88%E9%80%9D%E3%80%8B%E6%96%87%E6%91%98/">文摘</a> 』童年是一个被精心呵护着的秘密，童年也是用于区分信息阶级的社会概念。</li>
    <li>『
        <a href="http://chocoluffy.com/2018/03/16/%E6%97%A0%E6%B3%95%E4%BC%B0%E9%87%8F%E7%9A%84%E7%B9%81%E7%9B%9B-%E3%80%8A%E5%8D%8E%E6%B0%8F451%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">无法估量的繁盛 -《华氏451》读后感</a>』&『<a href="http://chocoluffy.com/2018/03/16/%E3%80%8A%E5%8D%8E%E6%B0%8F451%E3%80%8B%E6%96%87%E6%91%98/">文摘</a> 』希望是，就像当我终于赤脚走在冰冷的通往光明的铁轨上，我突然那么的相信，你也走过一样的路。</li>
    <li>『
        <a href="http://chocoluffy.com/2018/01/22/%E3%80%8A%E9%A3%8E%E6%B2%99%E6%98%9F%E8%BE%B0-%E5%A4%9C%E9%97%B4%E9%A3%9E%E8%A1%8C%E3%80%8B%E6%96%87%E6%91%98/">勋章 -《风沙星辰 & 夜间飞行》文摘</a>』 《夜间飞行》不如《风沙星辰》惊艳，但依旧较完整地呈现了“自由”与“责任”的矛盾。“这些也许哪一天会失去生命的人，他们本可以幸福地生活着。”，和加缪的《鼠疫》对比阅读。</li>
    <li>『
        <a href="http://chocoluffy.com/2017/06/17/%E6%9C%AA%E9%80%89%E6%8B%A9%E7%9A%84%E8%B7%AF-%E3%80%8A%E5%88%80%E9%94%8B%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">未选择的路 -《刀锋》读后感</a>』 而我选了人迹更少的一条，决定了我一生的道路。</li>
    <li>『
        <a href="http://chocoluffy.com/2017/03/20/%E4%BD%86%E6%98%AF%E4%BD%A0%E8%AE%B0%E5%BE%97-%E3%80%8A%E6%8A%8A%E4%BD%A0%E4%BA%A4%E7%BB%99%E6%97%B6%E9%97%B4%E3%80%8B%E8%AF%BB%E5%90%8E%E6%84%9F/">但是你记得 -《把你交给时间》读后感</a>』 “那些微小的瞬间， 一点都不重要， 但是你记得。”</li>
    <li>『
        <a href="http://chocoluffy.com/2016/05/13/%E5%8F%A6%E4%B8%80%E7%A7%8D%E9%BC%93%E5%A3%B0-%E8%AF%BB%E3%80%8A%E9%80%94%E5%AE%A2%E5%9C%88%E3%80%8B%E6%9C%89%E6%84%9F/">另一种鼓声 -《途客圈》文摘</a>』 “如果你清醒地知道你要去哪儿，脑海中还保留着那份憧憬，那么你就能逢山开路，遇水搭桥，所有的阻碍都将成为一个个里程碑，被踩在你的身后……”</li>
    <li>『
        <a href="http://chocoluffy.com/2016/04/25/%E5%85%B3%E4%BA%8E%E5%88%9B%E4%B8%9A%EF%BC%8C-%E9%82%A3%E4%BA%9B%E4%B8%8D%E8%83%BD%E8%AF%B4%E7%9A%84%E7%A7%98%E5%AF%86/">关于创业, 那些不能说的秘密 -《The Hard Thing About Hard Things》文摘</a>』 每个人， 在每个阶段， 都会有个不容分说的理由。</li> 
    <li>『
        <a href="http://chocoluffy.com/2016/05/07/%E4%B8%80%E6%B4%BE%E8%83%A1%E8%A8%80-%E7%AC%AC%E4%B8%89%E6%9C%9F-%E6%B0%91%E4%B8%BB%E7%9A%84%E4%B8%8D%E6%BB%A1/">一派胡言[第三期] -《民主的不满》</a>』 我不清楚我的选择会是什么， 但这并不是我拒绝去看这个问题的理由， 或许在相信他们针锋相对的背后， 就是我的立场。</li>
    <li>『
        <a href="http://chocoluffy.com/2015/03/26/%E5%85%89%E8%8D%A3%E4%B8%8E%E6%A2%A6%E6%83%B3%EF%BC%8D%E5%AF%84%E9%99%88%E8%99%BB/">光荣与梦想－《不要因为走得太远而忘记为什么出发》</a>』 寄陈虻。创造是一个很浪漫的事情， 但大多数人忘记了下一句， 创造也是很具体的事情， 一个团队不仅仅要灵异奔放，还要勤勉老实。</li>
    </ul>
      
      
    <h2 id="书柜">书柜</h2>

<style>
    <% include index.css %>
</style>

<meta name="referrer" content="never" />

<div class="hexo-douban-tabs">
    <a class="hexo-douban-tab" id="hexo-douban-tab1" href="javascript:;"
       rel="external">
        <%= __('bookReading') %>
        (<%= reading.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab2" href="javascript:;"
       rel="external">
        <%= __('bookWish') %>
        (<%= wish.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab3" href="javascript:;"
       rel="external">
        <%= __('bookRead') %>
        (<%= read.length %>)</a>
</div>
<div>
    <div id="hexo-douban-item1">
        <% reading.forEach(function(item){ %>
        <% include bookReading.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="hexo-douban-item2">
        <% wish.forEach(function(item){ %>
        <% include bookWish.ejs %>
        <% }); %>
        <% include pagination.ejs %>

    </div>
    <div id="hexo-douban-item3">
        <% read.forEach(function(item){ %>
        <% include bookRead.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>

</div>

<script>
    <% include index.js %>
    <% include pagination.js %>
</script>

